<manifest xmlns:android="http://schemas.android.com/apk/res/android"><uses-permission android:name="android.permission.INTERNET"/><application android:label="QUIC Lab test probe" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false"><activity android:name="ru.vpnc.quicprobe.ProbeActivity" android:exported="true"/></application></manifest>